* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero {
    background: #433878;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

nav {
    height: 70px;
    background: #433878;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #FFE1FF;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}
.nav-items1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0px;
}

.nav-items3 {
    display: flex;
    justify-content: right;
    padding-right: 2rem;
    align-items: center;
}
.log {
    height: 70px;
}

.logo {
    color: #FFE1FF;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1.5rem;
}

footer {
    background-color: #433878;
    color: #FFE1FF;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer p {
    font-size: 1rem;
}